<div id="<%= dom_id ballon %>">
  <p>
    <strong>Title:</strong>
    <%= ballon.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ballon.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= ballon.price %>
  </p>

  <p>
    <strong>User:</strong>
    <%= ballon.user_id %>
  </p>

</div>
